$bookmark_color: #4f63d5;
$white: #fff;
$lighter_red: #f75a5b;
$white_gray: #9d9da3;
$dark_blue: #262b44;
$screen_border_color: #343434;
$grey: #6b6b71;
$padding_body_hor: 250px;
$padding_body_ver: 30px;
$radius_size: 7px;
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}
.common_display {
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
}
section {
  top: 0;
  header,
  .tabs_content,
  .faq {
    padding: $padding_body_ver 15%;
  }
  header {
    max-width: 100%;
    .main_nav {
      background-color: $white;
      padding: $padding_body_ver 15%;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1000;
      height: 70px;
      .menu_mobile {
        display: none;
      }
      .menu_items {
        text-transform: uppercase;
        padding: 10px 25px;
        color: $grey;
        font-weight: 500;
        text-shadow: 0 0.3px $grey;
        &:hover {
          color: $lighter_red;
        }
      }
      #login {
        color: white;
        background-color: $lighter_red;
        border-radius: $radius_size;
        border: $lighter_red solid 1px;
        &:hover {
          background-color: $white;
          color: $lighter_red;
        }
      }
    }
    .background_header {
      margin-top: 4rem;
      display: grid;
      align-items: center;
      grid-template-columns: 450px auto;
      .bg_des {
        max-width: 100%;
        .textbox {
          h1 {
            font-size: 2.3rem;
          }
          p {
            font-size: 1.2rem;
            padding: 20px 0;
            color: $grey;
            max-width: 700px;
          }
        }
        .btn_control {
          margin: 20px 0;
          .btn {
            display: inline-block;
            margin: 5px 0;
            padding: 15px 30px;
            border-radius: $radius_size;
            margin-right: 10px;
          }
          .btn-chrome {
            background-color: $bookmark_color;
            color: $white;
            border: $bookmark_color solid 1px;
            box-shadow: 0 4px 10px -2px $bookmark_color;
            &:hover {
              background-color: $white;
              color: $bookmark_color;
            }
          }
          .btn-firefox {
            background-color: $white_gray;
            color: $grey;
            border: $grey solid 1px;
            box-shadow: 0 4px 10px -2px $white_gray;
            &:hover {
              background-color: $white;
            }
          }
        }
      }
      .cover img {
        max-width: 100%;
        float: right;
        animation: float 3s linear infinite;
      }
    }
  }
  .features {
    h1 {
      font-size: 2rem;
    }
    p {
      margin: 20px auto;
      max-width: 450px;
      line-height: 1.5rem;
      color: $grey;
    }
    .list_features {
      list-style: none;
      display: flex;
      justify-content: center;
      .feature_item {
        margin: 10px 0;
        padding: 30px 50px;
        color: $dark_blue;
        font-weight: 500;
        border-bottom: $dark_blue solid 1px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: $lighter_red;
          transform: scaleY(1.2);
        }
        &:active {
          border-bottom: $lighter_red solid 5px;
        }
      }
      .item_focus {
        border-bottom: $lighter_red solid 5px;
      }
    }
  }
  .tabs_content {
    .tab {
      display: none;
      grid-template-columns: auto 450px;
      position: relative;
      justify-content: center;
      align-items: center;
      .tab_des {
        padding: 0 0 0 3rem;
        h1 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.2rem;
          padding: 20px 0;
          color: $grey;
          max-width: 700px;
          line-height: 1.6;
        }
        .btn-info {
          text-decoration: none;
          color: $white;
          background-color: $bookmark_color;
          padding: 12px 30px;
          border-radius: $radius_size;
          border: 1px solid $bookmark_color;
          &:hover {
            background-color: $white;
            color: $bookmark_color;
          }
        }
      }
      .tab_cover {
        img {
          max-width: 25rem;
          animation: float 3s linear infinite;
        }
      }
    }
    .tab_focus {
      display: grid;
    }
  }
  .extension {
    margin: 3rem 0;
    h1 {
      font-size: 2rem;
    }
    p {
      margin: 20px auto;
      line-height: 1.5rem;
      max-width: 450px;
      color: $grey;
    }
    .extension_grid {
      display: flex;
      justify-content: center;
      #download_firefox {
        position: relative;
        top: 4rem;
      }
      #download_opera {
        position: relative;
        top: 7rem;
      }
      .download_item {
        margin: 0 20px;
        padding: 10px 50px;
        box-shadow: 0 10px 11px -5px rgba(83, 104, 223, 0.8);
        max-width: 100%;
        .textbox {
          margin: 20px 0;
          h2 {
            font-size: 1.2rem;
          }
          p {
            color: $grey;
            line-height: 1.6;
          }
          hr {
            margin: 40px 0;
            border: none;
            border-bottom: 5px dotted $white_gray;
            width: 100%;
          }
          .btn-download {
            display: inline-block;
            text-decoration: none;
            color: $white;
            background-color: $bookmark_color;
            padding: 12px 30px;
            border-radius: $radius_size;
            border: 1px solid $bookmark_color;
            width: 100%;
            &:hover {
              background-color: $white;
              color: $bookmark_color;
            }
          }
        }
      }
    }
  }
  .faq {
    margin: 10rem 0;
    h1 {
      font-size: 1.8rem;
    }
    p {
      padding: 20px 0;
      font-size: 1.2rem;
      color: $grey;
      line-height: 1.6;
    }
    .faq_list {
      padding: 0px 2rem;
      ul {
        list-style: none;
        .first {
          border-top: $white_gray solid 1px;
        }
        li {
          text-align: left;
          padding: 20px 0;
          cursor: pointer;
          border-bottom: $white_gray solid 1px;
          &:hover {
            color: $lighter_red;
          }
          span {
            float: right;
            .fa-chevron-down {
              display: none;
            }
          }
          p {
            font-size: 0.9rem;
            padding: 10px 0;
            display: none;
          }
        }
      }
    }
    .btn-info {
      margin: 30px 0;
      display: inline-block;
      text-decoration: none;
      color: $white;
      background-color: $bookmark_color;
      padding: 12px 30px;
      border-radius: $radius_size;
      border: 1px solid $bookmark_color;
      &:hover {
        background-color: $white;
        color: $bookmark_color;
      }
    }
  }
  .newsletter {
    background-color: rgba(84, 100, 220, 0.9);
    padding: 4rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    h2 {
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: lighter;
    }
    p {
      font-weight: 700;
      font-size: 2rem;
      max-width: 450px;
      line-height: 1.5;
      padding: 20px 0;
    }
    input {
      height: 40px;
      width: 275px;
      border-radius: $radius_size;
      border: $lighter_red solid 3px;
      text-indent: 0.5em;
      &::placeholder {
        text-transform: uppercase;
        color: $lighter_red;
      }
    }
    #contact {
      margin: 10px 0;
      padding: 10px 17px;
      cursor: pointer;
      color: white;
      background-color: $lighter_red;
      border-radius: $radius_size;
      border: $lighter_red solid 1px;
      &:hover {
        background-color: $white;
        color: $lighter_red;
      }
    }
  }
  footer {
    background-color: $dark_blue;
    text-transform: $white;
    .footer_menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 40px 5rem;
    }
    .menu {
      img {
        position: relative;
        top: 0.5rem;
      }
      a {
        display: inline-block;
        align-items: center;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        padding: 0 30px;
        &:hover {
          color: $lighter_red;
          transform: scale(1.5, 1.5);
        }
      }
    }
    .social {
      a {
        display: inline-block;
        text-decoration: none;
        color: $white;
        padding: 0 10px;
        font-size: 1.5rem;
        .fa-facebook-f:before,
        .fa-twitter:before {
          font-size: 30px;
        }
        &:hover {
          color: $lighter_red;
          transform: scale(1.5, 1.5);
        }
      }
    }
  }
}

@media (max-width: 960px) {
  section {
    header,
    .tabs_content,
    .faq {
      padding: $padding_body_ver 30px;
    }
    header {
      .main_nav {
        padding: $padding_body_ver 30px;
        width: 100%;
        right: 0;
        .menu {
          display: none;
        }
        .menu_mobile {
          display: inline-block;
          .toogle_menu {
            cursor: pointer;
            &:hover {
              color: $lighter_red;
            }
          }
          .list_menu_mobile {
            background-color: rgba(38, 45, 71, .9);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo {
              display: inline-block;
              position: relative;
              width: 60%;
              padding: 0 30px;
              margin: 30px 0;
              .toogle_menu {
                float: right;
              }
              img {
                position: absolute;
                top: 15%;
              }
            }
            .item_first{
              border-top: $white solid 1px;
            }
            .menu_mobile_item{
              text-align: center;
              color: $white;
              text-transform: uppercase;
              width: 60%;
              padding: 20px 0;
              margin: 10px 0;
              border-bottom: $white solid 1px;
              &:hover {
                border: $white solid 1px;
                border-radius: 7px;
              }
            }
            .social {
              padding: 50px 0;
              .fa-facebook-f:before,
              .fa-twitter:before {
                font-size: 30px;
              }
              .social_item {
                padding: 30px 10px;
                color: $white;
              }
            }
            #close_mobile_menu {
              color: $white;
              cursor: pointer;
              &:hover {
                color: $lighter_red;
              }
            }
          }
        }
      }

      .background_header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .bg_des {
          text-align: center;
        }
      }
    }
    .features {
      .list_features {
        padding: 0 30px;
        display: block;
        .first {
          border-top: $dark_blue solid 1px;
        }
      }
    }
    .tabs_content {
      .tab {
        grid-template-columns: none;
        justify-content: center;
        .tab_des {
          text-align: center;
          padding: 0 5%;
          width: 100%;
        }
        .tab_cover {
          img {
            max-width: 100%;
          }
        }
      }
    }
    .extension {
      .extension_grid {
        flex-direction: column;
      }
    }
    .faq {
      margin: 0.5rem 0;
      padding: $padding_body_hor 3%;
    }
    footer {
      .footer_menu {
        flex-direction: column;
        text-align: center;
        .menu {
          a {
            display: block;
            margin: 30px 0;
          }
        }
        .social {
          a {
            margin-bottom: 30px;
            display: block;
          }
        }
      }
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.5rem);
  }
}
